<button id="color_bits">Start</button>

<script>
  $(document).ready(
      setInterval(function () {
        $.ajax({
          url: "<%= root_path %>",
          type: "GET",
          dataType: "script"
        });
      }, 3000)
  );

  $("#color_bits").click(function () {
    $("#color_bits").prop("disabled", true);
    setInterval(function () {
      $.ajax({
        url: "<%= start_path %>",
        type: "GET",
        dataType: "script"
      });
    }, 3000)
  });
</script>